[2022-09-28 05:38] sceary-expert opened #59 "Add a button to toggle between full-screen mode and normal mode"
![image](https://user-images.githubusercontent.com/84634405/192695921-9c886cde-505e-4a94-a22f-eafe7e1dedc3.png)
## If you add a button that can hide the topics window on the left then the main content can be more visible( as shown in the image below)
![image](https://user-images.githubusercontent.com/84634405/192696273-203bebc8-e491-48cb-9123-9f934c013d8d.png)

[2022-09-28 05:55] wingkwong opened #60 "Tutorial Writeup - Doubly Linked List"
Markdown Path: `tutorials/basic-topics/doubly-linked-list.md`

- Overview
- Explanation with 1 ~ 2 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

[2022-09-28 05:57] wingkwong opened #61 "Tutorial Writeup - MOD (1e9 + 7)"
Markdown Path: `tutorials/basic-topics/mod.md`

- Overview
- Why do we need to use MOD
- Why 1e9 + 7

You can include other info related to this topic as you wish.

[2022-09-28 05:58] wingkwong opened #62 "Tutorial Writeup - Binary Search Tree"
Markdown Path: `tutorials/graph-theory/binary-search-tree.md`

- Overview
- Explanation with 2 - 3 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-28 05:59] wingkwong opened #63 "Tutorial Writeup - Floyd–Warshall Algorithm"
Markdown Path: `tutorials/graph-theory/floyd-warshall-algorithm.md`

- Overview
- Explanation with 1 ~ 2 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-28 05:59] wingkwong opened #64 "Tutorial Writeup - Kahn's Algorithm"
Markdown Path: `tutorials/graph-theory/kahns-algorithm.md`

- Overview
- Explanation with 1 ~ 2 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-28 06:00] wingkwong opened #65 "Tutorial Writeup - Kruskal's Algorithm"
Markdown Path: `tutorials/graph-theory/kruskals-algorithm.md`

- Overview
- Explanation with 1 ~ 2 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-28 06:00] wingkwong opened #66 "Tutorial Writeup - Prim's Algorithm"
Markdown Path: `tutorials/graph-theory/prims-algorithm.md`

- Overview
- Explanation with 1 ~ 2 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-28 06:01] wingkwong opened #67 "Tutorial Writeup - Tarjan's Algorithm"
Markdown Path: `tutorials/graph-theory/tarjans-algorithm.md`

- Overview
- Explanation with 1 ~ 2 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-28 06:01] wingkwong opened #68 "Tutorial Writeup - Combinatorics"
Markdown Path: `tutorials/math/combinatorics.md`

- Overview
- Explanation with 1 ~ 2 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-28 06:02] wingkwong opened #69 "Tutorial Writeup - Prime Factors"
Markdown Path: `tutorials/math/prime-factors.md`

- Overview
- Explanation with 2 ~ 3 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-28 06:03] wingkwong opened #70 "Tutorial Writeup - Booth's Algorithm"
Markdown Path: `tutorials/strings/booths-algorithm.md`

- Overview
- Explanation with 1 ~ 2 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-28 06:03] wingkwong opened #71 "Tutorial Writeup - Manacher's Algorithm"
Markdown Path: `tutorials/strings/manachers-algorithm.md`

- Overview
- Explanation with 1 ~ 2 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-28 06:04] wingkwong opened #72 "Tutorial Writeup - Rabin Karp Algorithm"
Markdown Path: `tutorials/strings/rabin-karp-algorithm.md`

- Overview
- Explanation with 1 ~ 2 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-28 06:04] wingkwong opened #73 "Tutorial Writeup - Dynamic Programming"
Markdown Path: `tutorials/dynamic-programming.md`

- Overview
- Explanation with 1 ~ 2 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-28 06:08] tannudaral commented on #61
Can I work on this?

[2022-09-28 07:38] wingkwong commented on #61
Free feel to discuss the outline with me in Discord.

[2022-09-28 07:43] Cyber-Machine commented on #73
I want to work on this topic!

[2022-09-28 08:43] wingkwong commented on #66
Free feel to ping me in Discord if you have any questions.

[2022-09-28 08:44] wingkwong commented on #73
Free feel to ping me to discuss in Discord.

[2022-09-28 10:33] i-dipanshu commented on #59
Hello @wingkwong
I'd to love to work on this issue and hopefully get it going before 1st of october
If possible please do add `hacktoberfest` label for this issue

[2022-09-28 11:14] i-dipanshu commented on #60
Hey @wingkwong
I would love to work on this issue
Could you please assign this to me

[2022-09-28 11:24] wingkwong commented on #60
Assigned. Feel free to discuss with me in Discord.

[2022-09-28 11:28] abhishek-sultaniya commented on #69
Hello @wingkwong ,I would like to work on this issue.It would be great if you will assign me this.

[2022-09-28 11:32] wingkwong commented on #69
Assigned. Feel free to discuss with me in Discord.

[2022-09-28 12:28] nithinaditya commented on #65
hey @wingkwong, I wish to work on this. Could you please assign this to me.

[2022-09-28 12:43] akankshaSha commented on #70
I'll do it

[2022-09-28 13:13] yashgautam9274 commented on #72
I am interested in this work.

[2022-09-28 13:30] wingkwong commented on #72
Free feel to ping me in Discord for discussion.

[2022-09-28 13:31] wingkwong commented on #65
Free feel to ping me in Discord for discussion.

[2022-09-28 13:40] wingkwong opened #75 "Tutorial Writeup - Greedy"
Markdown Path: `tutorials/basic-topics/greedy.md`

- Overview
- Explanation with 1 ~ 2 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-28 13:40] wingkwong opened #76 "Tutorial Writeup - Divide and Conquer"
Markdown Path: `tutorials/basic-topics/divide-and-conquer.md`

- Overview
- Explanation with 2 - 3 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-28 13:47] wingkwong opened #77 "Tutorial Writeup - Matrix Exponentiation"
Markdown Path: `tutorials/math/matrix-exponentiation.md`

- Overview
- Explanation with 2 - 3 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-28 13:59] abhishek-sultaniya commented on #75
Hello @wingkwong ,I would like to work on this issue.It would be great if you will assign me this.

[2022-09-28 13:59] abhishek-sultaniya commented on #77
Hello @wingkwong ,I would like to work on this issue.It would be great if you will assign me this.

[2022-09-28 14:16] utkarsh4321 commented on #62
@wingkwong can you assign me this issue? I wanted to work on this issue.

[2022-09-28 14:47] yashfalke77 commented on #76
Hey @wingkwong can i work on this issue

[2022-09-28 15:07] wingkwong commented on #76
Free feel to discuss with me in Discord.

[2022-09-28 15:08] wingkwong commented on #62
Free feel to discuss with me in Discord.

[2022-09-28 15:10] yashfalke77 commented on #76
@wingkwong sure

[2022-09-28 16:27] i-dipanshu commented on #63
Hey @wingkwong
I would love to work this issue.
Could you please assign me this task

[2022-09-28 16:28] wingkwong commented on #63
Sure

[2022-09-28 16:29] i-dipanshu commented on #64
Hey @wingkwong
I'd like to document this algorithm
Could you assign this task to me

[2022-09-28 16:42] i-dipanshu commented on #71
Hey @wingkwong
I would like to document this algo
Could you please assign this to me

[2022-09-28 17:15] Atharv-Nalwade commented on #67
I would like to work on the issue can you assign this one to me ?

[2022-09-28 18:36] Vaani-pathariya commented on #68
Hello @wingkwong ,can I be assigned this issue and can this one be considered under hacktober fest ?

[2022-09-28 18:37] Atharv-Nalwade commented on #67
Thanks for assigning me the issue
Just a doubt :
1. Will this be considered for hacktoberfest 2022?

[2022-09-29 01:52] wingkwong commented on #68
Sure. Yes.

[2022-09-29 10:55] ShivaRapolu01 commented on #59
I would like to give this a shot., please assign me

[2022-09-29 11:32] i-dipanshu commented on #59
This is already resolved.
I've been waiting for 1st oct to make the PR.
You're welcome to look into other issue listed and resolve it.

[2022-09-29 16:17] i-dipanshu commented on #59
Hey @wingkwong
I would not see it that way
Through Hacktoberfest i came to know about this amazing project which perfectly matches my skillset.
I am planning to become regular contributor mainly in Development aspects.
And I didn't make PR because the countdown is just two days away
However, I'm really sorry

[2022-09-30 07:21] ShivaRapolu01 commented on #59
@i-dipanshu but you didn't request to assign it to you before. Without this others can't know whether someone is already is working on it or not. @wingkwong Let @i-dipanshu raise PR for this?

[2022-09-30 07:25] wingkwong commented on #59
@ShivaRapolu01 I don't see the point why I need to wait for the event. This is just like a few line config changes only. Therefore, I'd merge the PR whoever makes it first. or probably I could just solve it in my free time.

[2022-09-30 09:12] sceary-expert commented on #59
@wingkwong I thought that I would solve this issue by myself but It's not as easy as I thought it would be as I have not worked with markdown pages. If you do this by yourself please let me know we might work on this together if you want.

[2022-09-30 09:26] wingkwong commented on #59
@sceary-expert Didn't see that you self-assign. Maybe leave a comment next time. Basically this is just a configuration change. Anyone can just google and copy the config from the official doc. Probably just a 30-second work.

[2022-09-30 09:29] #59 closed

[2022-09-30 09:31] i-dipanshu commented on #59
I'll make PR today, Just getting done with Classes

[2022-09-30 09:41] wingkwong commented on #63
Free this issue at this moment as dipanshu got 2 writeups already. Free feel to leave a comment here if you wanna pick up.

[2022-09-30 09:41] wingkwong commented on #71
Free this issue at this moment as dipanshu got 2 writeups already. Free feel to leave a comment here if you wanna pick up.

[2022-09-30 09:43] wingkwong commented on #59
Done and closed already.

[2022-09-30 09:45] sceary-expert commented on #59
@wingkwong This issue was all about creating a button that can help to show the user main article and hides left menu (see the image below). I don't see that change has been made yet though you have closed the issue.
![image](https://user-images.githubusercontent.com/84634405/193243006-df2d5dee-6ee8-47a9-9fbd-dc954e0b23c4.png)

[2022-09-30 09:49] wingkwong commented on #59
@sceary-expert

![image](https://user-images.githubusercontent.com/35857179/193243713-f8b0a2e7-080e-4dc9-9808-66fecf749e2b.png)

![image](https://user-images.githubusercontent.com/35857179/193243775-772a2dcd-62a5-44a4-a48f-476ed9ad3991.png)

[2022-09-30 09:51] sceary-expert commented on #59
Damnnnnnn!

[2022-09-30 13:57] wizeewig commented on #63
@wingkwong I would love to work on this. Would you please assign this to me.

[2022-09-30 15:18] Sowham-3098 commented on #63
@wingkwong Please assign this task to me under Hacktoberfest 2022 .

[2022-09-30 15:25] Sowham-3098 commented on #63
Thank you @wingkwong

[2022-09-30 15:32] wingkwong opened #89 "Tutorial Writeup - Bucket Sort"
Markdown Path: `tutorials/basic-topics/sorting/bucket-sort.md`

- Overview
- Explanation with 1 ~ 2 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-30 15:32] wingkwong opened #90 "Tutorial Writeup - Radix Sort"
Markdown Path: `tutorials/basic-topics/sorting/radix-sort.md`

- Overview
- Explanation with 1 ~ 2 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-30 15:33] wingkwong opened #91 "Tutorial Writeup - Merge Sort"
Markdown Path: `tutorials/basic-topics/sorting/merge-sort.md`

- Overview
- Explanation with 1 ~ 2 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-30 15:34] wingkwong opened #92 "Dark Mode Style Refactoring"
The color in dark mode is quite bad currently. Need some better colors for it.

[2022-09-30 15:46] Sreetama2001 commented on #91
Can you assign please this issue to me @wingkwong  , I am working on this.

[2022-09-30 15:48] wingkwong commented on #91
@Sreetama2001 sure. free feel to ping me in Discord for discussion.

[2022-09-30 15:54] Sreetama2001 commented on #90
I want to work on this issue  @wingkwong. Can please assign this to me?

[2022-09-30 16:15] Dun-sin commented on #92
Hi, what about this color?

![image](https://user-images.githubusercontent.com/78784850/193313092-47176d38-f1c5-45b2-9dac-2c1b37510be3.png)

[2022-09-30 16:48] itsmenikhill commented on #60
@i-dipanshu hey will you also include linked lists in your doc? if not then I can work on it.

[2022-09-30 16:55] itsmenikhill commented on #92
![image](https://user-images.githubusercontent.com/44477975/193319698-76763de6-b10d-4c67-b0f4-af5943a667e2.png)

how about this?

[2022-09-30 16:57] wingkwong commented on #92
The cover page can be skipped atm. I plan to add some content on the landing page instead of just pasting an image there. It's more on the content for this issue.

[2022-09-30 17:03] wingkwong opened #93 "Tutorial Writeup - Bubble Sort"
Markdown Path: `tutorials/basic-topics/sorting/bubble-sort.md`

- Overview
- Explanation with 1 ~ 2 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-30 17:04] wingkwong opened #94 "Tutorial Writeup - Cyclic Sort"
Markdown Path: `tutorials/basic-topics/sorting/cyclic-sort.md`

- Overview
- Explanation with 1 ~ 2 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-30 17:04] wingkwong opened #95 "Tutorial Writeup - Insertion Sort"
Markdown Path: `tutorials/basic-topics/sorting/insertion-sort.md`

- Overview
- Explanation with 1 ~ 2 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-30 17:04] wingkwong opened #96 "Tutorial Writeup - Selection Sort"
Markdown Path: `tutorials/basic-topics/sorting/selection-sort.md`

- Overview
- Explanation with 1 ~ 2 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-30 17:05] wingkwong opened #97 "Tutorial Writeup - Shell Sort"
Markdown Path: `tutorials/basic-topics/sorting/shell-sort.md`

- Overview
- Explanation with 2 - 3 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-30 17:09] wingkwong commented on #60
Just found that `tutorials/basic-topics/linked-list.md` is in draft state. I think @i-dipanshu just needs to focus on doubly linked list. For basic one, lets @itsmenikhill handle it in `tutorials/basic-topics/linked-list.md`.

[2022-09-30 17:10] wingkwong opened #98 "Tutorial Writeup - Linked List"
Markdown Path: `tutorials/basic-topics/linked-list.md`

- Overview
- Explanation with 1 ~ 2 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-30 17:11] wingkwong commented on #98
Reserved for [itsmenikhill](https://github.com/itsmenikhill)

[2022-09-30 17:13] wingkwong commented on #64
Unassigned as requested. If anyone wants to pick up, please leave a comment here.

[2022-09-30 17:13] itsmenikhill commented on #98
Hey, I would like to work on this.

[2022-09-30 17:13] i-dipanshu commented on #93
Hey @wingkwong
Could you please assign this task to me

[2022-09-30 17:15] wingkwong commented on #89
Assigned

[2022-09-30 17:18] Sreetama2001 commented on #95
@wingkwong  Want to work on insertion sort since I am already working on other sorting algos. So can you please assign me this?

[2022-09-30 17:24] wingkwong commented on #95
@Sreetama2001 I think it'd better to leave it to other new contributors as you have two writeups already. I try to keep each contributor to have at most 2 tasks on hand. Of course if you've finished one of them and this still remains unassigned, then you can take it.

[2022-09-30 17:26] wingkwong opened #99 "Tutorial Writeup - Heap Sort"
Markdown Path: `tutorials/basic-topics/sorting/heap-sort.md`

- Overview
- Explanation with 2 - 3 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-09-30 17:34] flow6979 commented on #99
hey @wingkwong, I want to contribute to this issue. can you please assign this to me?

[2022-09-30 17:37] flow6979 commented on #96
hey @wingkwong, I want to contribute to this issue. can you please assign this to me?

[2022-09-30 17:45] i-dipanshu commented on #92
Yeah, the contrast is bad.
My Few Suggestions:
- The One Twitter Uses - `#15202b`
- The One GitHub Uses - `#22272e`
These gives a good reading experience especially in long sessions.

[2022-09-30 17:50] Abhinav-J05 commented on #99
hey! I loved this topic and I would like to contribute to this, please assign this issue to me.
thank you!

[2022-09-30 17:52] Sreetama2001 commented on #95
ohk sure ! 😇

[2022-09-30 17:52] Abhinav-J05 commented on #98
hey! I loved this topic and I would like to contribute to this, please assign this issue to me.
thank you!

[2022-09-30 18:03] utkarsh4321 commented on #62
Hii I can't operate discord so can you clarify some doubts?
1. How i will contribute to it?
2. First, I will fork this repo. And once my work is done then I will create a pull request.
3. Is this the flow because the contribution guide has only tutorials and solutions guides nothing else?
So please clarify these doubts.

[2022-09-30 18:33] i-dipanshu commented on #92
Hey @wingkwong
Check out implemented samples I send you over on discord
We could also change the font size and font family say `Roboto` better reading experience.
Could you please assign me this task

[2022-09-30 18:35] i-dipanshu commented on #92
Could you please assign me this task

[2022-09-30 18:36] i-dipanshu commented on #92
Hey @wingkwong
Could you please assign me this task

[2022-09-30 18:50] Shivashish-rwt commented on #95
I wanna work on this. Can u please assign this to me.

[2022-09-30 19:33] ganajayant commented on #97
Can i get this issue

[2022-09-30 20:10] AyushK-101 commented on #64
I would like to work on this issue

[2022-09-30 20:57] parth-verma7 commented on #64
Hi @wingkwong I would like to work on this issue. Can you please assign it to me?

[2022-09-30 21:28] Tyagiquamar commented on #99
hey @wingkwong, I would love to contribute to this issue. can you please assign this to me?
Thank You

[2022-09-30 21:49] Bobliuuu commented on #95
@wingkwong I'd love to contribute to this. Could you please assign this to me?

[2022-10-01 02:25] wingkwong commented on #92
@i-dipanshu you got two tasks on hand already. I'd like to give more chances to other new contributors. Of course you can leave suggestions here.

[2022-10-01 02:28] wingkwong commented on #95
I'll let [Shivashish-rwt](https://github.com/Shivashish-rwt) do it. (based on the number of tasks on hand and the time to request assignment)

[2022-10-01 02:28] wingkwong commented on #97
@ganajayant Assigned

[2022-10-01 02:29] wingkwong commented on #98
@Abhinav-J05 sorry. the issue's taken already.

[2022-10-01 02:31] wingkwong commented on #99
[flow6979](https://github.com/flow6979) got one task already. assigned to new contributor [Abhinav-J05](https://github.com/Abhinav-J05) instead.

[2022-10-01 02:31] Bobliuuu commented on #96
Hey @wingkwong, Could I contribute to this issue?

[2022-10-01 02:32] wingkwong commented on #96
I'll let @Bobliuuu to take this as he is new and @flow6979 got one task already.

[2022-10-01 02:34] wingkwong commented on #64
I'll let @AyushK-101 take it given no task is assigned to AyushK.

[2022-10-01 02:37] wingkwong commented on #62
@utkarsh4321

1. Fork this repository. Update the markdown. Then submit a PR.
2. Yes
3. The contribution guide is mainly for this repository. What you are asking is a general flow. If you are new to open source, you may check out some resources in hacktoberfest participation page [here](https://hacktoberfest.com/participation/)

[2022-10-01 02:47] wingkwong opened #103 "Tutorial Writeup - Tim Sort"
Markdown Path: `tutorials/basic-topics/sorting/tim-sort.md`

- Overview
- Explanation with 1 ~ 2 LC problems
- Suggested Problems (See `arrays.md` as a reference for the format)

You can include other info related to this topic as you wish.

[2022-10-01 02:47] wingkwong commented on #103
reserved for bobliu.

[2022-10-01 02:47] Bobliuuu commented on #103
Hey @wingkwong, I'd like to take this issue, thanks!

[2022-10-01 04:18] Shivashish-rwt commented on #95
Thanks for assiging me.

[2022-10-01 05:27] adityabisht02 opened #107 "Tutorial Writeup : Number of Connected Components in a graph"

[2022-10-01 05:30] adityabisht02 commented on #107
@wingkwong I would like to work on this under hacktoberfest if you are okay with it.

[2022-10-01 06:52] Abhinav-J05 commented on #99
@wingkwong I have added a pull request. Kindly accept.

[2022-10-01 07:02] wingkwong commented on #107
You may focus on the topic `Connected Components` under `graph-theory`.

[2022-10-01 07:25] adityabisht02 commented on #107
Great

[2022-10-01 08:39] atom540 commented on #92
hey, I want to work on this topic because I make dark mode on the website in my project. so, can you assign this topic to me?

[2022-10-01 08:44] wingkwong commented on #92
@atom540 Assigned

[2022-10-01 11:32] BlackPanther112358 commented on #68
Hi, @wingkwong, can you assign me this issue ?

[2022-10-01 11:57] wingkwong commented on #68
@Vaani-pathariya Just to confirm. Are you not working on this issue?

[2022-10-01 14:13] Vaani-pathariya commented on #68
No , not right now ,you can assign it to someone else .Thank you !

[2022-10-01 14:22] wingkwong commented on #68
@BlackPanther112358 You have it now.

[2022-10-01 14:43] Cyber-Machine opened #118 "Tutorial Writeup - Z Algorithm"
@wingkwong I would be happy to write a tutorial for `Z-Algorithm` under `String` and add python code for Z-Algorithm under `hacktoberfest`.

[2022-10-01 14:50] wingkwong commented on #118
Ok. The path is `tutorials/strings/z-algorithm.md`. Please pull the latest changes first.

[2022-10-01 14:50] Cyber-Machine commented on #118
Sure

[2022-10-01 15:31] BlackPanther112358 commented on #68
On it

[2022-10-01 19:14] RadhikaChhabra17 commented on #93
Hi, I am interested in this task. Can you please assign this to me?

[2022-10-01 19:20] i-dipanshu commented on #93
@wingkwong
Please do assign her this task,
I'd really busy with DLL

[2022-10-02 03:14] Srijita-Mandal opened #124 "Solutions - 102. Binary Tree Level Order Traversal"
@wingkwong I would like to work on this issue to solve the problem with explanation. Please assign me for this.

[2022-10-02 03:54] wingkwong commented on #124
For solutions, we welcome all people to contribute. Go ahead and create a PR.

[2022-10-02 03:55] wingkwong commented on #93
Assigned to @RadhikaChhabra17 instead.

[2022-10-02 04:10] Rittika1234 opened #125 "Tutorial Writeup - Binary Search Algorithm"

[2022-10-02 04:11] Rittika1234 opened #126 "Tutorial Writeup - Linear Search Algorithm"

[2022-10-02 04:21] Rittika1234 opened #127 "Solutions-1385 Find the Distance value Between Two Arrays"
I want to work on it.

[2022-10-02 04:24] Rittika1234 opened #128 "Solutions-167. Two Sum II-Input Array is Sorted"

[2022-10-02 04:28] Rittika1234 opened #129 "Solutions-509. Fibonacci Number"
please assign me

[2022-10-02 04:39] Rittika1234 opened #130 "Solutions-1752. Check if Array Is Sorted and Rotated"

[2022-10-02 04:47] Rittika1234 opened #131 "Solutions-162. Find Peak Element"

[2022-10-02 05:32] Shivashish-rwt commented on #95
@wingkwong I have commited the changes required. Please review my PR.

[2022-10-02 06:00] yashfalke77 commented on #76
hey @wingkwong i cannot find the array.md file for reference of the template can you help me?

[2022-10-02 06:55] wingkwong commented on #125
Binary Search is already there. Do you want to add more on this topic?

Path: `tutorials/basic-topics/binary-search.md`

[2022-10-02 06:56] wingkwong commented on #127
For Solutions, no need to create an issue. Submit a PR directly.

[2022-10-02 06:56] #127 closed

[2022-10-02 06:56] wingkwong commented on #129
For Solutions, no need to create an issue. Submit a PR directly.

[2022-10-02 06:56] #129 closed

[2022-10-02 06:56] wingkwong commented on #128
For Solutions, no need to create an issue. Submit a PR directly.

[2022-10-02 06:56] #128 closed

[2022-10-02 06:56] wingkwong commented on #130
For Solutions, no need to create an issue. Submit a PR directly.

[2022-10-02 06:56] #130 closed

[2022-10-02 06:57] wingkwong commented on #131
For Solutions, no need to create an issue. Submit a PR directly.

[2022-10-02 06:57] #131 closed

[2022-10-02 06:57] wingkwong commented on #124
For Solutions, no need to create an issue. Submit a PR directly.

[2022-10-02 06:57] #124 closed

[2022-10-02 07:43] Exoutia opened #135 "Collections Introduction/Index page is not up to date"
[collections/index.md](https://github.com/wingkwong/leetcode-the-hard-way/tree/main/collections/index.md) Can I fix it for hacktober fest
- I will add some basic categories like array, linked list, hash-map etc
- And add some problems
- after that people can add different easy and introductory problems for it

Is there any suggestion on how to categorize  problem you have cause I think single prob

[2022-10-02 08:31] wingkwong commented on #135
![image](https://user-images.githubusercontent.com/35857179/193445286-f391fff3-8c6b-4fe3-9884-0b4a5d1fd979.png)

What's that?

[2022-10-02 08:31] wingkwong commented on #135
Please ping me in discord.

[2022-10-02 08:40] wingkwong commented on #76
@yashfalke77 `tutorials/basic-topics/arrays.md`

[2022-10-02 18:13] BlackPanther112358 commented on #68
Hi @wingkwong, while looking for materials on the topic, I noticed that the solutions for following problems are not up yet:

1. 458 Poor Pigs (https://leetcode.com/problems/poor-pigs)
2. 1863 Sum of All Subset XOR Totals (https://leetcode.com/problems/sum-of-all-subset-xor-totals)
3. 2221 Find Triangular Sum of an Array (https://leetcode.com/problems/find-triangular-sum-of-an-array)
4. 1467 Proba

[2022-10-03 01:56] wingkwong commented on #68
You can either add them or leave solutionLink blank

[2022-10-03 02:25] ShivaRapolu01 opened #137 "Update current binary Search write up"
Binary search is a very important concept and once ones understands it correctly it feels really good while implementing. I want to work on improving current binary search article and provide a one stop beginner guide to binary search covering major mistakes and problems

[2022-10-03 02:26] ShivaRapolu01 opened #138 "Tutorial writeup - Kadane's algorithm"
I want to contribute this issue under Hactoberfest 2022. Please assign this to me @wingkwong

[2022-10-03 02:27] ShivaRapolu01 commented on #137
I want to contribute this under Hactoberfest 2022 . Please assign this to me if you like the idea

[2022-10-03 02:28] wingkwong commented on #137
Duplicate #125

[2022-10-03 02:28] #137 closed

[2022-10-03 02:30] wingkwong commented on #138
Go ahead. Please read (the contribution guide](https://github.com/wingkwong/leetcode-the-hard-way/blob/main/CONTRIBUTING.md) first.

[2022-10-03 02:43] wingkwong commented on #125
If anyone wants to update / add more content in Binary Search, please leave your proposal here.

[2022-10-03 05:57] wingkwong commented on #126
please leave a proposal here first

[2022-10-03 09:22] jadhav-kunal commented on #125
Hey, I have been practising binary search problems on LeetCode and would like to add more content in Binary Search. Could you please assign it to me?

[2022-10-03 09:46] BlackPanther112358 commented on #68
I will be submitting solutions to these questions as I am making tutorial based on these, So I easily add solutions to these problems in C++ and Python.

[2022-10-03 10:37] wingkwong commented on #125
@jadhav-kunal Please share your proposal here first. Like how would you change it.

[2022-10-03 12:08] HemantModi11 commented on #125
Hey, I want to work on this. I found one issue in the code that is when the number would be at the border i.e., 2^32 it would give an error called out of bounds while we would be calculating for the value of mid. There is one small change we can do in this code so it works on the border cases also.

[2022-10-03 12:32] deepanshu-rawat6 opened #142 "Solution Writeup- Merge Sorted Array"
@wingkwong I would be happy to write solution for `Merge Sorted Array` which comes under the category of `solutions/0000-0099` and I want to add java codes in 2 approaches.
Can you please assign me this issue? Ma'am please add this under `hacktoberfest`

[2022-10-03 14:14] wingkwong commented on #125
which line and what is your small change?

[2022-10-03 14:19] HemantModi11 commented on #125
the value we are calculating mid. mid should be start + (end-start)/2 to avoid error at border cases.

[2022-10-03 14:43] #75 closed

[2022-10-03 14:53] wingkwong commented on #125
I think you're talking about integer overflow problem. In the tutorial, the solution is written in Python which doesn't have such problem. It happens when you use languages like C++ or Java. It covers in Tips already.

[2022-10-03 16:20] chinmayayy opened #147 "Tutorial Writeup - LC516 Longest Palindromic Subsequence"
Hi @wingkwong I would like to contribute the solution writeup to this issue under Hactoberfest 2022. Kindly assign this to me, thanks.

[2022-10-03 17:08] PalaVenkiReddy opened #149 "Tutorial Writeup - Euler Path in Graphs (LC 332)"
I want to contribute about Euler Path in Graphs and to clearly explain solution to LC 332. Please assign this issue to me @wingkwong

[2022-10-04 04:09] wingkwong commented on #149
Go ahead. Check out [CONTRIBUTING.md](https://github.com/wingkwong/leetcode-the-hard-way/blob/main/CONTRIBUTING.md) first.

[2022-10-04 04:33] wingkwong commented on #147
Which location you would propose for that markdown?

[2022-10-04 04:34] wingkwong commented on #142
For solutions, just go ahead and submit PR. No need to create issue.

[2022-10-04 04:34] #142 closed

[2022-10-04 04:34] wingkwong commented on #147
For solutions, just go ahead and submit PR. No need to create issue.

[2022-10-04 04:34] #147 closed

[2022-10-04 05:00] wingkwong commented on #135
1. You may elaborate more what this section does. For example, for collection, it provides templates for users to reference and use it directly. Supposing they should know the topic before using it.
2. No need to add problems on index pages.

[2022-10-04 07:04] utkarsh4321 commented on #62
@wingkwong I want to draw a binary search tree how i will draw it in markdown? can you give some suggestions?

[2022-10-04 07:19] wingkwong commented on #62
Use some online tools to draw and then upload to GitHub editor to retrieve the img link.

[2022-10-04 08:31] Exoutia commented on #135
Ok will do it 👍

[2022-10-04 15:02] wingkwong commented on #138
@Vidhanjain143 Sorry. It's taken.

[2022-10-04 17:33] Pratham2301 commented on #126
I want to contribute this issue under Hactoberfest 2022.
Please assign this to me @wingkwong

[2022-10-05 02:03] wingkwong commented on #126
@Pratham2301 please leave a proposal here first

[2022-10-05 05:08] Vidhanjain143 opened #177 "Tutorial Writeup -Count Primes"

[2022-10-05 06:58] yashgautam9274 commented on #177
Interserd.

[2022-10-05 16:28] Kavita613 opened #183 "Dijkstra's Algorithm"
Dijkstra Algorithm helps to find the shortest path in a graph.

I will provide the proper explanation and code for this algorithm.

[2022-10-05 16:28] Kavita613 commented on #183
Kindly assign this issue to me.

[2022-10-05 16:44] MithunPrabhu777 opened #184 "Solutions code : Javascript code for Two Sum problem"
We already know two sum is good to start easy question.

Please assign this issue to me.

Thank you

[2022-10-05 16:47] #135 closed

[2022-10-05 16:51] wingkwong commented on #184
No need to create an issue for solution. Just submit a PR.

[2022-10-05 16:51] #184 closed

[2022-10-05 16:54] MithunPrabhu777 commented on #184
Sure Thank you👍

[2022-10-06 02:44] Atulsoam562003 commented on #126
Hello. I can work on this. You can assign it to me if no one has already requested it. Thankyou.

[2022-10-06 02:55] wingkwong commented on #126
@Atulsoam562003 please leave a proposal here first

[2022-10-06 03:32] Pratham2301 commented on #126
@wingkwong sorry to ask but what should I include in proposal ?

[2022-10-06 03:40] wingkwong commented on #126
@Pratham2301 Like which LC problems you'd use etc

[2022-10-06 11:05] siddoinghisjob commented on #126
@wingkwong  For linear search, I would use one for loop to traverse through the array and then find the element. This would take O(n) time complexity.
In this LC problem- https://leetcode.com/problems/search-suggestions-system/  we can sort the array and then use linear search to find each word one by one and add three (at most) of them to the answer array.

[2022-10-06 11:08] wingkwong commented on #126
@siddoinghisjob go ahead. please read [CONTRIBUTING.md](https://github.com/wingkwong/leetcode-the-hard-way/blob/main/CONTRIBUTING.md) first. besides, please find one more easy LC problem to walk through.

[2022-10-06 13:47] Kavita613 opened #197 "Frog jump Leetcode Problem"
In this problem, I will explain the proper solution and also code.

[2022-10-06 13:49] Kavita613 commented on #197
kindly assign this issue to me.

[2022-10-06 13:58] Pranathi-star opened #198 "Tutorial Writeup - Game of Life problem"
I will provide a very intuitive solution to the game of life problem which is a Medium level problem on Leetcode. Please assign this to me.

[2022-10-06 14:00] Pranathi-star opened #199 "Tutorial Writeup - Reorganize String problem"
I will provide an intuitive and easy to understand solution for the Reorganize string problem that is a Medium level problem on Leetcode. Please assign it to me.

[2022-10-06 14:03] Pranathi-star opened #200 "Tutorial Writeup - Rotting Oranges problem"
I will provide an easy to understand solution for the famous rotting oranges problem which is a medium level problem on Leetcode. Please assign this issue to me.

[2022-10-06 14:04] wingkwong commented on #199
Do you want to contribute tutorial writeup or solution writeup? can you show some LC problems on this topic?

[2022-10-06 14:05] wingkwong commented on #198
For solution contribution, feel free to submit a PR. no need to create an issue.

[2022-10-06 14:05] #198 closed

[2022-10-06 14:05] wingkwong commented on #199
For solution contribution, feel free to submit a PR. no need to create an issue.

[2022-10-06 14:05] #199 closed

[2022-10-06 14:05] wingkwong commented on #200
For solution contribution, feel free to submit a PR. no need to create an issue.

[2022-10-06 14:05] #200 closed

[2022-10-06 14:05] wingkwong commented on #197
For solution contribution, feel free to submit a PR. no need to create an issue.

[2022-10-06 14:05] #197 closed

[2022-10-06 14:12] saloni33 opened #201 "Coin Change problem - Leetcode"
In this, I will explain the complete approach, code, and complexities of the coin change problem.

[2022-10-06 14:13] Kavita613 opened #202 "Frog Jump Problem - Leetcode"
In this problem, i will explain proper solution and code.

[2022-10-06 14:13] Kavita613 commented on #202
kindly Assign this issue to me

[2022-10-06 14:25] #201 closed

[2022-10-06 14:25] wingkwong commented on #202
Don't create an issue for solutions, you can just submit your PR.

[2022-10-06 14:25] #202 closed

[2022-10-06 14:29] saloni33 opened #203 "Count Subarrays With Score Less Than K - Leetcode"
In this, I will explain two different approaches to solve this question with code and complexities too.

[2022-10-06 14:35] saloni33 opened #204 "Flatten Binary Tree to Linked List - Leetcode"
I will include explanation to this problem and code for the same.

[2022-10-06 14:35] saloni33 commented on #204
Kindly this issue to me.

[2022-10-06 14:38] wingkwong commented on #204
Create a PR directly. No need to create an issue for each solution.

[2022-10-06 14:38] #204 closed

[2022-10-06 14:38] wingkwong commented on #203
Create a PR directly. No need to create an issue for each solution.

[2022-10-06 14:38] #203 closed

[2022-10-06 17:06] #91 closed

[2022-10-06 17:06] #95 closed

[2022-10-06 17:07] #61 closed

[2022-10-07 02:52] wingkwong opened #214 "Tutorial Writeup - Line Sweep"
For those who wanna take it, please state 2 - 3 LC problems that you're gonna use for this writeup.

[2022-10-07 05:10] wingkwong opened #215 "Tutorial writeup - Segment Tree"
It should cover

- overview
- basic segment tree (with LC problems walk through)
- dynamic segment tree (with LC problems walk through)
- lazy propagation (with LC problems walk through)
- suggested problems

For those who wanna take it, please state 2 - 3 LC problems that you're gonna use for this writeup. Prefer someone who has deep knowledge on this topic.

[2022-10-07 06:25] #96 closed

[2022-10-07 07:23] wingkwong opened #216 "Tutorial writeup - Sparse Table"
For those who wanna take it, please state 2 - 3 LC problems that you're gonna use for this writeup. Prefer someone who has deep knowledge on this topic.

[2022-10-07 12:09] kailashchoudhary11 opened #217 "Add CODE_OF_CONDUCT.md"
I would like to add code of conduct file.

[2022-10-07 13:09] siddoinghisjob commented on #126
@wingkwong To explain linear search, I want to solve lc #1295. Shall I create a separate issue  and PR for that solution?

[2022-10-08 10:09] siddoinghisjob commented on #177
@Vidhanjain143 are you working on it? if not then can I work on it @wingkwong ?

[2022-10-08 10:10] siddoinghisjob commented on #90
Is anyone working on it? If not then I can work on this.

[2022-10-08 10:14] wingkwong commented on #90
@Sreetama2001 are you working on it?

[2022-10-08 10:51] CoderAayush2104 opened #230 "Removing error from binary search code."
The code written there might get an error(StackOverflow) . I will correct it for you

[2022-10-08 11:37] wingkwong commented on #230
???

[2022-10-08 12:38] CoderAayush2104 commented on #230
I will correct the stack overflow error for you.I will do it for sure

[2022-10-08 15:28] M-Rahul1 commented on #177
I would like to add. Assign it to me @wingkwong .

[2022-10-08 15:30] M-Rahul1 commented on #73
i would like to contribute. This would be my first PR in hacktoberfest @wingkwong

[2022-10-08 15:45] M-Rahul1 opened #233 "Tutorial Writeup-N-Queens"
I would explain it breifly.
Assign it to me @wingkwong

[2022-10-08 15:49] M-Rahul1 opened #234 "Implementing stackes using queues and vice-versa"

[2022-10-08 15:49] siddoinghisjob commented on #177
@wingkwong  if no one is working on it, I would like to work on it. Kindly assign it to me.

[2022-10-08 15:56] siddoinghisjob commented on #94
Are you working on it, @prishit55 ? If not, then @wingkwong you can assign me this. I will explain this O(n) sorting algorithm. I will explain the concept with this (LC#268) question.

[2022-10-08 16:06] wingkwong commented on #177
@siddoinghisjob read [CONTRIBUTING.md](https://github.com/wingkwong/leetcode-the-hard-way/blob/main/CONTRIBUTING.md) and current PR comments to get the general idea first.

[2022-10-08 16:06] wingkwong commented on #233
which markdown are you going to work on?

[2022-10-08 16:08] wingkwong commented on #234
Can you elaborate more?

[2022-10-08 16:09] wingkwong commented on #94
@siddoinghisjob The writeup has been merged already.

[2022-10-08 16:09] #94 closed

[2022-10-08 16:11] wingkwong commented on #73
@M-Rahul1 You may check with @Cyber-Machine

[2022-10-08 17:23] sb-decoder opened #236 "Add contributors profile into README.md"
I want to add all contributors profile in a contributor section in your README.md .

[2022-10-08 17:32] M-Rahul1 commented on #233
tutorials/basic-topics/(new)N-queens

[2022-10-08 17:38] M-Rahul1 commented on #233
markdown: [tutorials/basic-topics](url)

[2022-10-08 17:40] M-Rahul1 commented on #234
Its a type of problem which would be added to [tutorials/basic-topics/queue-and-stack.md](url)

[2022-10-08 17:42] M-Rahul1 commented on #76
Hey I would like to work on this @wingkwong .

[2022-10-08 17:50] M-Rahul1 commented on #177
@wingkwong isn't it in sequential order while assigning?🤔

[2022-10-08 19:21] lordashuchauhan opened #237 "fix dark mode and light mode issue"
@wingkwong dark mode in footer not working I can fix this issue . Kindly assign me this issue under hacktoberfest 2022.

[2022-10-09 03:18] wingkwong commented on #233
prefer a solution writeup instead. or supplement in `tutorials/basic-topics/backtracking.md`

[2022-10-09 03:21] wingkwong commented on #237
What is not working in footer in dark mode? Please be specific.

[2022-10-09 03:25] wingkwong commented on #177
@M-Rahul1 Sorry. I read it wrong. I assigned based on the time and the number of tasks they have. You'll take it. Please read [CONTRIBUTING.md](https://github.com/wingkwong/leetcode-the-hard-way/blob/main/CONTRIBUTING.md) and current PR comments to get the general idea first.

[2022-10-09 03:35] wingkwong commented on #76
@M-Rahul1  I think @yashfalke77 is working on it. You may check with him.

[2022-10-09 04:09] wingkwong commented on #236
I don't see the point of adding that while there are two places showing that info

![image](https://user-images.githubusercontent.com/35857179/194737511-af82166b-405c-4996-ab13-3062607435c9.png)

https://github.com/wingkwong/leetcode-the-hard-way/graphs/contributors

[2022-10-09 04:09] #236 closed

[2022-10-09 04:45] Cyber-Machine commented on #73
@wingkwong I have already added content on Dynamic Programming which was merged in Pull Request #114.
@M-Rahul1 Feel free to go through the material and add changes to elaborate content on dynamic programming.

[2022-10-09 04:57] wingkwong commented on #73
Oh yes. Should've linked the issue in PR. Yes. @M-Rahul1 You can add more content if you want.

[2022-10-09 05:47] siddoinghisjob commented on #177
@wingkwong Actually I asked you first for assigning me 😕

[2022-10-09 05:55] wingkwong commented on #177
@siddoinghisjob Like I said before, it's based on the time **AND** the number of tasks on hand. Since you've Linear Search writeup on hand, so I assigned to @M-Rahul1 as he doesn't have any task currently. For writeups, I expect it may take much time for writing and reviewing, so I don't want people to hold multiple tasks on hand if there is other options.

[2022-10-09 05:55] siddoinghisjob opened #238 "Tutorial Writeup - Cyclic Sort"
I think we should have an article on Cyclic Sort as well.
I would explain the topic with the two lc questions: #268 and #448

[2022-10-09 05:56] siddoinghisjob commented on #238
Also, kindly mark this issue as a hacktoberfest question.

[2022-10-09 06:02] M-Rahul1 commented on #233
OK I'll write a solution

[2022-10-09 06:15] wingkwong commented on #233
For solutions, no need to create an issue. You can directly submit a PR.

[2022-10-09 06:15] #233 closed

[2022-10-09 06:20] wingkwong commented on #238
It exists. You can find it in `tutorials/basic-topics/sorting/cyclic-sort.md`. Besides, please focus on your current task first.

[2022-10-09 09:21] wingkwong opened #241 "Tutorial writeup - LCA"
For those who wanna take it, please state 2 - 3 LC problems that you're gonna use for this writeup. Prefer someone who has deep knowledge on this topic.

[2022-10-09 10:02] Beast71421 opened #242 "adding contributers image in readme file"
![image](https://user-images.githubusercontent.com/78417225/194750534-2e7c4fb0-48eb-4642-9f28-ee0f615cd80d.png)
like this

and can you please add the label hacktoberfest, hacktoberfest-accepted

[2022-10-09 10:21] M-Rahul1 commented on #177
@wingkwong I have added a pull request. Kindly accept.

[2022-10-09 10:22] wingkwong commented on #242
See https://github.com/wingkwong/leetcode-the-hard-way/issues/236

[2022-10-09 10:22] #242 closed

[2022-10-09 10:38] wingkwong commented on #177
@M-Rahul1 Your PR https://github.com/wingkwong/leetcode-the-hard-way/pull/244 is rejected as you just copied and pasted from external site. Therefore, I'll unassign you from this issue.

[2022-10-09 11:23] M-Rahul1 commented on #177
@wingkwong I'll give it a try again.

[2022-10-09 11:26] wingkwong commented on #177
@M-Rahul1 Sorry. Plagiarism is not accepted and no chances will be given now. I hope you learn the lesson here.

[2022-10-09 12:47] divya16-bit commented on #64
@wingkwong , I am so sorry to start working on this task before asking it out here and getting it assigned to me but since it's been 8 days of assigning this issue and it was not completed , I thought that now i'll be eligible to work on this task.
But now, I would like this issue to be assigned it me and i will also work on  the requested changes.

[2022-10-09 12:55] AyushK-101 commented on #64
I think it would be best if someone else takes up this issue, I will be busy for a few days, @divya16-bit you might work on the issue if that's okay with @wingkwong

[2022-10-09 12:59] M-Rahul1 commented on #177
i just took reference, I thought the code would be same everywhere. Now i have changed it completely can you review it now.
Anyways good refreshment of past topics. Thanks for this repo.

[2022-10-09 13:06] wingkwong commented on #64
@AyushK-101 Thanks for the confirmation. @divya16-bit You'll take it up.

[2022-10-09 13:51] M-Rahul1 commented on #241
Can i take up this?

[2022-10-09 13:58] wingkwong commented on #241
@M-Rahul1 Sorry. No due to your plagiarism record.

[2022-10-09 15:13] siddoinghisjob commented on #177
@wingkwong I want to work on this. Can you please assign me

[2022-10-09 15:14] wingkwong commented on #177
@siddoinghisjob You already one task on hand. I prefer someone who doesn't have any task to pick up.

[2022-10-09 15:17] siddoinghisjob commented on #177
I have made the required changes in my other pr. If its alright then I am free now 😺. So you can assign me this one 👐

[2022-10-09 15:19] wingkwong commented on #177
@siddoinghisjob please click re-request review next time. Otherwise I'd consider you're still modifying.

[2022-10-09 17:18] Sreetama2001 commented on #90
I haven't not started yet !!  I guess then @siddoinghisjob  should go ahead with this !

[2022-10-10 05:23] CoderAayush2104 commented on #230
when you do start + end for large numbers there will be stack overflow error.Please assign this to me . I will fix it for you.

[2022-10-10 06:11] wingkwong commented on #230
Can you point out which line has the problem in the code? and also which file are you talking about?

[2022-10-10 16:45] CoderAayush2104 commented on #230
int mid = (s + e) /2

[2022-10-10 17:02] wingkwong commented on #230
Which file ...

[2022-10-11 08:56] Akash-1gif commented on #214
Hey @wingkwong ! I want to work on the following issue. Please assign me the following task

[2022-10-11 08:56] wingkwong commented on #214
**please state 2 - 3 LC problems that you're gonna use for this writeup.**

[2022-10-11 12:16] CoderAayush2104 commented on #230
binary search in basic concepts in tutorial

[2022-10-11 16:58] wingkwong commented on #230
Closing this PR.

1. This issue is very unclean. After a few days, I still have no idea what it is.
2. I believe you meant integer overflow instead of stackoverflow
3. I couldn't see `int mid = (s + e) /2`. If you mean `mid = (lp + rp) // 2`, then it's fine because it is written in python. I've already mentioned l + (r - l) / 2 in tips.

[2022-10-11 16:58] #230 closed

[2022-10-12 06:20] Akash-1gif commented on #177
Hey @wingkwong I want to work on this issue. Please assign me the following task

[2022-10-13 13:53] wingkwong commented on #63
@Sowham-3098 Any updates?

[2022-10-13 13:53] wingkwong commented on #65
@nithinaditya Any updates?

[2022-10-13 13:53] wingkwong commented on #66
@sai130302 Any updates?

[2022-10-13 13:54] wingkwong commented on #67
@Atharv-Nalwade Yes. it counts. Any updates?

[2022-10-13 13:54] wingkwong commented on #71
@wizeewig Any updates?

[2022-10-13 13:54] #73 closed

[2022-10-13 13:55] wingkwong commented on #76
@yashfalke77 Any updates?

[2022-10-13 13:55] wingkwong commented on #77
@abhishek-sultaniya Any updates?

[2022-10-13 13:55] wingkwong commented on #92
@atom540 Any updates?

[2022-10-13 13:55] wingkwong commented on #97
@ganajayant Any updates?

[2022-10-13 13:56] wingkwong commented on #93
@RadhikaChhabra17 Any updates?

[2022-10-13 13:56] wingkwong commented on #103
@Bobliuuu Any updates?

[2022-10-13 13:57] wingkwong commented on #107
@adityabisht02 Any updates?

[2022-10-13 13:57] wingkwong commented on #118
@Cyber-Machine Any updates?

[2022-10-13 13:57] wingkwong commented on #149
@PalaVenkiReddy Any updates?

[2022-10-13 13:58] wingkwong commented on #183
@Kavita613 I mean walk through the problem in the above markdown.

[2022-10-13 14:12] Atharv-Nalwade commented on #67
@wingkwong I did research about the algorithm and its too hard also the documentation is quite less about the algo.  so that would be hard for me to complete the issue
So kindly unassign me so that the one who knows me would do the issue

[2022-10-13 14:41] Bobliuuu commented on #103
Sorry, I'm still writing it. I'm a bit occupied with other stuff, I'll definitely get it done by end of Friday.

[2022-10-13 15:04] Cyber-Machine commented on #118
I was busy last week, will write up tutorial by Saturday.

[2022-10-13 15:11] M-Rahul1 commented on #76
If he isn't doing can I take up.

[2022-10-13 15:20] wingkwong commented on #118
@Cyber-Machine Thanks

[2022-10-13 15:22] wingkwong commented on #103
Thanks for the update.

[2022-10-13 18:28] ganajayant commented on #97
i am till busy these days so i can't complete sorry for the inconvenience please assign somebody else

[2022-10-14 04:43] #217 closed

[2022-10-14 04:43] #237 closed

[2022-10-14 04:43] #234 closed

[2022-10-14 04:44] #238 closed

[2022-10-14 06:42] Ritvik-2002 commented on #93
@wingkwong could you assign it to me ?

[2022-10-14 06:44] Ritvik-2002 commented on #90
@wingkwong could you assign it to me ?

[2022-10-14 06:49] adityabisht02 commented on #107
Ill finish this up by today, I have been busy this past week

[2022-10-14 07:06] Dhruvil-Lakhtaria commented on #215
Hey I have basic knowledge of segment tree and willing to work on this issue. can you assign it to me.
Basic segment tree.
[range-frequency-queries](https://leetcode.com/problems/range-frequency-queries/)
[range-sum-query-mutalble](https://leetcode.com/problems/range-sum-query-mutable/).
And I have started researching about dynamic segment tree and lazy propagation.
Can you assign it to me.

[2022-10-14 07:45] wingkwong commented on #215
@Dhruvil-Lakhtaria assigned. remember read [CONTRIBUTING.md](https://github.com/wingkwong/leetcode-the-hard-way/blob/main/CONTRIBUTING.md) first.

[2022-10-14 13:01] Dhruvil-Lakhtaria commented on #215
Okay!! I have started working on it.

[2022-10-16 00:09] Bobliuuu commented on #89
Hey @wingkwong, since this issue has been inactive for a while, can I take this issue?

[2022-10-16 05:05] wingkwong commented on #89
@flow6979 are you still working on it?

[2022-10-16 05:24] #68 closed

[2022-10-16 06:19] vaibhavnirmal2001 opened #273 "Add leetcode solutions"
## I want to add solutions of some leetcode standard problems
please assign me this issue

[2022-10-16 06:28] emeraldnoob commented on #177
Hey @wingkwong can I work on this issue? Please assign me the task

[2022-10-16 06:39] wingkwong commented on #177
@emeraldnoob I believe @Akash-1gif is working on it. @Akash-1gif Lemme know if you are not.

[2022-10-16 06:39] #273 closed

[2022-10-16 06:41] Akash-1gif commented on #177
Yes @wingkwong i'm working on it. I'll make my PR soon

[2022-10-16 11:23] aayushi02agarwal commented on #241
I want to work on this issue, please assign to me. I can use the following hard problems of LC:
Prob. no. 87) Scramble string
Prob. no. 123)  Best Time to Buy and Sell Stock III
Prob. no. 239) Sliding Window Maximum

Please assign it to me under Hacktoberfest2022 label.

[2022-10-16 12:08] BlackPanther112358 commented on #67
Hi @wingkwong, can you assign me the issue ?

[2022-10-16 12:23] wingkwong commented on #67
@BlackPanther112358 assigned.

[2022-10-16 12:26] wingkwong commented on #241
@aayushi02agarwal Just went through the problems. It seems that those 3 problems are not related to LCA. Can you share your submission links to prove that you've solved them with LCA?

[2022-10-16 12:40] aayushi02agarwal commented on #241
Oh I'm so sorry, I read the topic wrong. I don't have a deep understanding on this.

[2022-10-16 14:06] Bobliuuu commented on #63
Hey @wingkwong, I can take this one as well, since it isn't active.

[2022-10-16 14:15] RohitTaparia commented on #241
I want to work on this issue, since I have a good understanding of LCA and have worked on problems related to it.
The problems can be:
1) finding LCA of a binary tree- This has 4 parts on LC , and I can explain them.
Hence, I can also explain the different approaches of finding LCA with different time complexities.
2) Step-By-Step Directions From a Binary Tree Node to Another-[Link](https://leetco

[2022-10-16 14:15] wingkwong commented on #63
@Sowham-3098 Are you still working on it?

[2022-10-16 14:18] wingkwong commented on #241
@RohitTaparia Assigned. Before starting to work, please read [CONTRIBUTING.md](https://github.com/wingkwong/leetcode-the-hard-way/blob/main/CONTRIBUTING.md) as well as the existing PR comments to avoid some common mistakes.

[2022-10-16 19:20] Sowham-3098 commented on #63
You can assign this to@Bobliuuu

[2022-10-17 03:33] wingkwong commented on #63
@Sowham-3098 Thanks for your confirmation. @Bobliuuu Assigned to you now.

[2022-10-18 03:17] Po-Hsien39 commented on #65
Hi @wingkwong, I wish I could take it on as well!

[2022-10-18 03:44] wingkwong commented on #65
@nithinaditya Are you still working on it?

[2022-10-18 09:10] Dhruvil-Lakhtaria commented on #215
PR added #278

[2022-10-18 12:16] Vasudeva-bit commented on #118
Is the tutorial done? else I would be happy to work on this!

[2022-10-18 12:17] wingkwong commented on #183
@Vasudeva-bit Currently I only wrote a short overview in `tutorials/graph-theory/dijkstra.md`.

[2022-10-18 12:18] wingkwong commented on #118
@Vasudeva-bit I think @Cyber-Machine is working on it.

[2022-10-18 12:25] Vasudeva-bit commented on #183
So, shall I add the code? and technical details if needed!

[2022-10-18 14:53] wingkwong commented on #183
@Kavita613 are you modifying `tutorials/graph-theory/dijkstra.md`?

[2022-10-19 03:54] jadhav-kunal commented on #97
Hey, i've been solving few problems on LeetCode, might as well contribute. can you please assign it to me?

[2022-10-19 04:10] Kavita613 commented on #183
@wingkwong I'd love to, but I can't. Still, if you want me to modify the file then I will do it.

[2022-10-19 04:11] wingkwong commented on #183
@Vasudeva-bit @Kavita613 you guys may ping each other in discord to split the task.

[2022-10-19 04:12] wingkwong commented on #97
@jadhav-kunal provide 2 submission links from 2 problems that you solve with shell sort

[2022-10-19 07:55] Vasudeva-bit commented on #118
yeah sure

[2022-10-21 15:21] Algorian commented on #66
Hey there, can I take this task ?

[2022-10-22 03:12] #93 closed

[2022-10-22 03:37] #138 closed

[2022-10-22 03:47] wingkwong commented on #66
@Algorian Go ahead. I think sai130302 is not working at all. Didn't see he's forked the repo.

[2022-10-22 11:21] UjjwalAggarwal-1 commented on #69
so is it under process or may i take it up? under hacktoberfest, that is

[2022-10-22 16:50] wingkwong commented on #69
@abhishek-sultaniya Any update?

[2022-10-22 18:16] abhishek-sultaniya commented on #69
Sorry,I am not able to complete it on time.Little busy due to some other works .Please assign it to @UjjwalAggarwal-1

[2022-10-23 02:01] wingkwong commented on #69
@UjjwalAggarwal-1 Assigned. Please look at [CONTRIBUTING.md](https://github.com/wingkwong/leetcode-the-hard-way/blob/main/CONTRIBUTING.md) first.

[2022-10-23 04:25] Po-Hsien39 commented on #65
Hi @wingkwong , I’m still waiting for this. Notify me anytime if the assignee is unassigned!

[2022-10-23 04:28] wingkwong commented on #65
Removed @nithinaditya's assignment due to inactivity.

@Po-Hsien39 Assigned. Please read [CONTRIBUTING.md](https://github.com/wingkwong/leetcode-the-hard-way/blob/main/CONTRIBUTING.md) before working on it.

[2022-10-23 04:29] Po-Hsien39 commented on #65
Ok! Thanks very much! 😊

[2022-10-23 06:56] #98 closed

[2022-10-25 14:42] TheCodeAlpha26 commented on #77
Hey @wingkwong , I would like to work on this issue if its possible

[2022-10-25 15:15] wingkwong commented on #77
@abhishek-sultaniya Are you still working? if there is no reply for 24 hours, I'll assign to @TheCodeAlpha26 .

[2022-10-25 18:16] Akash-1gif commented on #177
Hey @wingkwong , I'm sorry for making a very late PR as my exams were scheduled. So I've made my PR. Please check it out and let me know if I can further make any changes

[2022-10-27 17:46] BlackPanther112358 commented on #67
Hi @wingkwong , I could only find 2 problems on leetcode under the tag 'Strongly Connected Components', both Hard. I tried finding more problems which can be solved using the topic, but found no appropriate ones. Do you have some other problems, or should I use external problems ? Or just stick to the 2 available ?

[2022-10-28 03:26] wingkwong commented on #67
Please don't use external problems.

I can come up with the following problems. It should be enough for you to write. Please include the first one and you pick 1 - 2 out of the rest of 3.

https://leetcode.com/problems/critical-connections-in-a-network/
https://leetcode.com/problems/number-of-provinces/
https://leetcode.com/problems/minimum-number-of-days-to-disconnect-island/
https://leetcode.com

[2022-10-28 14:36] BlackPanther112358 commented on #67
The first problem requires finding bridges, while second one requires to check for connected components only, not strongly connected components. Tarjan will be little too much for first one itself, and is completely unnecessary for second one. I will include 1, 3 and 4 problems in the tutorial for now.

[2022-10-31 11:28] #241 closed

[2022-11-01 03:24] vigneshshiv opened #294 "Application links visibility hidden while hovering on the main page"
## Links Visibility hidden

In the main page, bottom section while hovering any of the links, the text got disappeared. It includes general and Links section.

Checkout the below image, I hovered on Github link, the text is disappeared and href is shown bottom left.

![image](https://user-images.githubusercontent.com/10242660/199150952-0e839c85-db1f-400a-8216-96e36989405d.png)

[2022-11-01 04:01] wingkwong commented on #294
Thanks for reporting. Will take a look.

[2022-11-01 15:32] #294 closed

[2022-11-02 07:23] wizeewig commented on #71
U can assign it to someone else. I will provide the part I have written/completed to the nxt person who is assigned this.

[2022-11-18 11:46] wingkwong commented on #60
Unassigned due to inactivity.

[2022-11-18 11:47] wingkwong commented on #183
Unassigned due to inactivity.

[2022-11-18 11:48] wingkwong commented on #177
Unassigned due to inactivity.

[2022-11-18 11:48] wingkwong commented on #149
Unassigned due to inactivity.

[2022-11-18 11:48] wingkwong commented on #107
Unassigned due to inactivity.

[2022-11-18 11:55] wingkwong commented on #215
Unassigned due to inactivity.

[2022-11-18 11:55] wingkwong commented on #92
Unassigned due to inactivity.

[2022-11-18 11:55] wingkwong commented on #90
Unassigned due to inactivity.

[2022-11-18 11:56] wingkwong commented on #89
Unassigned due to inactivity.

[2022-11-18 11:56] wingkwong commented on #77
Unassigned due to inactivity.

[2022-11-18 11:56] wingkwong commented on #76
Unassigned due to inactivity.

[2022-11-18 11:56] wingkwong commented on #72
Unassigned due to inactivity.

[2022-11-18 11:57] wingkwong commented on #69
Unassigned due to inactivity.

[2022-11-18 11:57] wingkwong commented on #66
Unassigned due to inactivity.

[2022-11-18 11:57] wingkwong commented on #65
Unassigned due to inactivity.

[2022-11-18 11:57] #65 closed

[2022-11-18 11:58] wingkwong commented on #63
Unassigned due to inactivity.

[2022-11-18 11:58] wingkwong commented on #62
Unassigned due to inactivity.

[2022-11-18 16:50] vigneshshiv opened #317 "Problem 0345 tagged under wrong solution category range"
## Solution

Problem 0345 tagged under wrong solution category range, Is there any reason why it's tagged, If not, Please correct it.

![image](https://user-images.githubusercontent.com/10242660/202758011-58a4392f-9b4e-47f1-b21f-87551c46ab09.png)

[2022-11-18 16:53] wingkwong commented on #317
Good Catch. Fixed.

[2022-11-18 16:53] #317 closed